.chatbot-toggler {
    position: fixed;
    bottom: 30px;
    right: 35px;
    outline: none;
    border: none;
    height: 50px;
    width: 50px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #c6e1ff;
    transition: all 0.2s ease;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}



body.show-chatbot .chatbot-toggler {
    transform: rotate(90deg);
}

.chatbot-toggler span {
    position: absolute;
    display: flex;
}

.chatbot-toggler span:first-child img {
    width: 30px;
}

.chatbot-toggler span:last-child img {
    width: 15px;
}

.chatbot-toggler span:last-child,
body.show-chatbot .chatbot-toggler span:first-child  {
    opacity: 0;
}

body.show-chatbot .chatbot-toggler span:last-child {
    opacity: 1;
}